{% extends "layout.html" %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col-12">
      {# image #}
      <div style="max-height: auto" class="bg-danger text-center">
        <img style="object-fit: cover" class="card-image-top card-fluid rounded w-100" src="{{news.image.url}}"
          alt="{{news.image.url}}" />
      </div>
      <div class="row">
        <div class="col-12 col-md-7">
          <h3 class="text-center py-4">{{news.title}}</h3>
          <p>{{news.summary}}</p>
          <p>{{news.content}}</p>
        </div>
        <div class="col-12 col-md-5">
          <h3 class="text-center py-4">Comentarios</h3>
        </div>
      </div>
    </div>
</main>
{% endblock %}