{% extends "layout.html" %} {% block content %}

<main class="container" style="min-height: 100vh;">
  <div class="row">
    <div class="col-md-6 offset-3">
      <div class="card card-body">
        <h1 class="card-title text-center display-6 my-5">Home</h1>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
          repellendus ratione iste voluptatum eos odit rem perspiciatis
          cupiditate eligendi doloribus distinctio, nulla cum molestias aliquam
          vitae eius a voluptate ea.
        </p>
      </div>
    </div>
  </div>
</main>

{% endblock %}
