{% extends "layout.html" %} {% block content %}
<main class="container" style="min-height: 100vh;">
  <h1 class="text-center display-6 my-5">News</h1>
  <div class="row">
    {% if news %} {% for new in news %}
    <div class="col-md-4 card" style="width: 18rem">
      <img src="{{new.image.url}}" class="card-img-top img-fluid" alt="{{news.title}}" />
      <div class="card-body">
        <h5 class="card-title">{{new.title}}</h5>
        <p class="card-text">
          {{new.summary}}
        </p>
        <a href="{% url 'detail-news' new.id %}" class="btn btn-primary">go to detail</a>
      </div>
    </div>
      {% endfor %} {%else%}
      <div class="alert alert-warning" role="alert">No news yet.</div>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}
